:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.form-submit-btn {
	border-radius: 0 8px 8px 0;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	color: white;
	cursor: pointer;
	transition: border-color 0.25s;
	/* margin-left: 10px; */
}

.form-submit-btn:hover {
	background-color: #1a1a1ac5;
}

.form-container {
	display: flex;
	/* width: 100%; */
	justify-content: center;
	margin-bottom: 3rem;
}

.form-input {
	width: 30vw;
	min-width: 300px;
}
button {
	padding: 10px;
	border-radius: 20px;
	border: 1px solid gray;
	font-size: 1rem;
}

.courses-table {
	display: flex;
	place-items: start space-between;
	gap: 10%;
	flex-wrap: wrap;
	text-align: center;
	width: 90dvw;
	margin: 0 auto;
}

.courses-table div {
	width: 45%;
}

.courses-table div article {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h3 {
	text-decoration: underline;
	font-weight: normal;
	font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
	.courses-table div {
		width: 100%;
	}
}
